<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <span class="image">
                <img src="{{site.baseurl}}/assets/images/banner.jpg"  alt="">
            </span>
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Take a look at my work</a></li>
                </ul>
            </div>
        </div>
    </section>


    <!-- Main -->
    <div id="main" class="alt">
      <!-- One -->

      <section id="one">
      	<div class="inner">
          {% include tiles.html %}
        </div>
      </section>
    </div>
    {% include footer.html %}
</body>

</html>
